$Soft-Blue: hsl(231, 69%, 60%);

$Soft-Red: hsl(0, 94%, 66%);

$Grayish-Blue: hsl(229, 8%, 60%);

$Very-Dart-Blue: hsl(229, 31%, 21%);

$body-font: 18px;

$Width-Desktop: 1440px;

$Width-Mobile: 375px;

html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  padding-left: 5%;
  padding-right: 5%;
}
